
header {
    background-color: #333;
    text-align: center;
}

body {
    font-family: sans-serif;
    margin-top: 60px;
}

#Check {
    width: 454px;
    border-radius: 14px;
    background-color: #e2eef6;
    float: left;
    padding: 12px;
}

#Addto {
    width: 454px;
    border-radius: 14px;
    background-color: #e2eef6;
    float: left;
    padding: 12px;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 600%;
}

.bold {
        font-weight: bold;
}

.img-medium {
    height: 500px;
}

.yellow-btn
{
    float: right;
    border-radius: 12px;
    background-color: #ffbd00;
    box-shadow: 2px 2px 0 0 rgba(0,0,0,0.1);
    padding: 4px 44px;
    font-size: 13px;
    font-weight: 600;
    color: #384c5e;
    margin-top: 7px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    color: #746161;
    font-family: sans-serif;
    padding-right: 20px;
    padding-left: 20px;
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

div.tab button:hover {
    background-color: #ddd;
}

div.tab button.active {
    background-color:#ccc;
}

    .tabcontent {
        display: none;
        padding: 6px 12px;
        border:1px solid #ccc;
        border-top: none;
    }
